.displayFlex {
  display: flex;
}
.flexDirectionColumn {
  flex-direction: column;
}
.alighnItemsCenter {
  align-items: center;
}
.alighnItemsSelfStart {
  align-items: self-start;
}
.justifyContentCenter {
  justify-content: center;
}
.justifyContentSpaceBetween {
  justify-content: space-between;
}
.width100 {
  width: 100%;
}
.height50 {
  height: 50px;
}
.positionRelative {
  position: relative;
}
.positionAbsolute {
  position: absolute;
}
