.feed-container {
  margin: 20px;
  position: relative;
  height: fit-content;
}
.feed-inner-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.post-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.post-input {
  flex: 1;
  padding: 10px;
}

.post-button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

.post-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-list {
  list-style-type: none;
  padding: 0;
  height: 750px;
  border: solid 10px green;
  overflow: auto;
  position: relative;
}

.post-item {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: black;
  position: relative;
}
.reply-item {
  position: relative;
  left: 10px;
}
.loading-animation {
  position: absolute;
  bottom: 0px;
  z-index: 2;
}

.poll-options {
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid black;
  padding: 5px;
  border-radius: 15px;
  background-color: #1c1826;
  color: white;
}

.poll-option {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #8dd0d3;
}

.poll-option.selected {
  background-color: #1dbaca;
}

.poll-option:hover {
  background-color: #813fa0;
}

.poll-option-count {
  margin-left: 10px;
}
