#landingPage {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#aboutLurkerContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#reqOuterContainerDiv {
  overflow-y: scroll;
}

#aboutLurker {
  border-bottom: solid #d6cd4b;
}

#container-one {
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 0px;
  flex-grow: 1;
  overflow: auto;
}
#inner-container-one {
  width: 800px;
  background-color: #000000b5;
  border: solid white;
  padding: 5px;
  color: white;
}
.textOne {
  color: #b06fd0;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.textTwo {
  font-size: 20px;
  color: #9999ff;
  margin-bottom: 5px;
}
.textThree {
  font-size: 22px;
  color: orange;
  margin-bottom: 5px;
  border-bottom: solid #e33050;
  max-width: 400px;
  padding-bottom: 5px;
}

.reqContainerTexts {
  margin-left: 15px;
}

.reqOuterContainer {
  border-bottom: solid #d6cd4b;
  margin-bottom: 10px;
}
.reqContainer {
  color: #81daff;
  border-bottom: solid green;
  border-left: solid green;
  margin-bottom: 20px;
  padding: 10px;
}
.formLabel {
  width: 75px;
  color: #78cf68;
}
.containerText {
  border-left: solid #cd15d8;
  border-bottom: solid #cd15d8;
  margin-bottom: 5px;
  padding: 5px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, rgb(0 0 0) 0%, rgba(41, 47, 143, 1) 100%);
}
.indivText {
  margin-bottom: 5px;
}
