#navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.innerNavContainer {
  width: 800px;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

#message {
  height: 55px;
  align-items: center;
  display: flex;
  font-size: 24px;
}

#navIcon {
  width: 55px;
}

#lurker {
  font-size: 24px;
  margin-left: 20px;
}

.buttonContainer {
  flex-grow: 1;
}

.navLink {
  margin: 5px;
}

#more {
  display: none;
  width: 32px;
}

.sideNav {
  background-color: #02010491;
  bottom: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 330px;
  backdrop-filter: blur(3px);
  border-left: solid #378cc9;
}

#innerSideNavContainer {
  padding: 20px;
  position: relative;
}

#closeBtnContainer {
  margin: 20px;
  position: absolute;
  right: 0;
  top: 0;
  height: 55px;
  display: flex;
  align-items: center;
  width: 55px;
  justify-content: center;
}

@media (max-width: 768px) {
  #navButtonsContainer {
    display: none;
  }
  #more {
    display: block;
  }
}
@media (min-width: 768px) {
  .sideNav {
    display: none;
  }
}
/* .navbar {
  background-color: #333;
  color: #fff;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

.navbar.active {
  transform: translateX(-100%);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.navbar-logo {
  font-size: 1.5rem;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.navbar-menu-line {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 4px;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: max-height 0.3s ease-in-out;
  max-height: 200px; 
  overflow: hidden;
}

.navbar-links.active {
  max-height: 100%;
}

.navbar-item {
  margin-left: 16px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbar-link:hover {
  color: #aaa;
}

@media (min-width: 768px) {
  .navbar {
    transform: translateX(0);
  }

  .navbar-links {
    display: flex;
    flex-direction: row;
    max-height: none;
  }

  .navbar-menu {
    display: none;
  }
} */
